.speech
{
    font-style: oblique;
    font-family: Arial, sans-serif;
    font-size: 21px;
    color: black;
}

.direction
{
    display: table;
    font-family: Times New Roman, serif;
    font-size: 17px;
    color: black;
    background-color: lightseagreen;
}

.direction:hover
 {
    background-color: lightcoral;
    color: white;
  }

  .elvsted {
    color: mediumorchid; 
  }
  
  .breta {
    color: blue; 
  }

  /* CSS styles for the table */
.character-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .character-table th,
  .character-table td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .character-table th {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgoldenrodyellow;
  }
  
  .character-table tbody tr:nth-child(odd) {
    background-color: lightcyan;
  }
  
  /* Style for character names when hovering */
.breta:hover,
.elvsted:hover {
    text-shadow: 2px 2px 2px darkcyan, 0 0 1em darkorange, 0 0 0.2em darkorange;
 /* box-shadow: 4px 4px 8px rgba(255, 0, 0, 0.7); /* Interesting shadow with a red color */
  /*border: 2px solid #00ff00; /* Interesting green border */
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out; /* Smooth transition */
}
